DATABASE_URL="postgresql://postgres.lcaamgeiszuttfdlghqh:rusX%2B9t%2A5.A%25rPF@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?schema=public&pgbouncer=true&connection_limit=1&pool_timeout=30&sslmode=require"
DIRECT_DATABASE_URL="postgresql://postgres.lcaamgeiszuttfdlghqh:rusX%2B9t%2A5.A%25rPF@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres?schema=public&sslmode=require"
SHADOW_DATABASE_URL="postgresql://postgres.lcaamgeiszuttfdlghqh:rusX%2B9t%2A5.A%25rPF@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres?schema=shadow&sslmode=require"
JWT_SECRET="devsecret"
PORT=4000